.navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Desktop */
@media (min-width: 769px) {
  .navigation {
    flex-direction: row;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .navigation {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
  }

  .navigation .navbar-link {
    width: 100%;
  }
}